<html>
  <body>
    <h1>Hola, {{ request.user.username }}. Esta es la ficha de {{ ficha.nombre }}</h1>
    <h2>Estadísticas</h2>
    <ul>
      <li><strong>Fuerza: </strong>{{ ficha.fuerza|add:ficha.raza.fuerza }}</li>
      <li><strong>Destreza: </strong>{{ ficha.destreza|add:ficha.raza.destreza }}</li>
      <li><strong>Constitución: </strong>{{ ficha.constitucion|add:ficha.raza.constitucion }}</li>
      <li><strong>Inteligencia: </strong>{{ ficha.inteligencia|add:ficha.raza.inteligencia }}</li>
      <li><strong>Sabiduría: </strong>{{ ficha.sabiduria|add:ficha.raza.sabiduria }}</li>
      <li><strong>Carisma: </strong>{{ ficha.carisma|add:ficha.raza.carisma }}</li>
    </ul>
    {% if show_form %}
      <form action="{% url 'fichas:experiencia' ficha.id %}" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" value="Enviar">
      </form>
    {% endif %}
    <a href="{% url 'fichas:ficha' ficha.id %}">Atrás</a>
  </body>
</html>
