{% extends "base.html" %}
{% block title %}After the End: Fichas de {{ request.user.username }}{% endblock %}
{% block content %}
    <h1>Hola, {{ request.user.username }}. Éstas son tus fichas.</h1>
    <ul>
      {% if fichas %}
        {% for ficha in fichas %}
        <li>{{ ficha.nombre }} <a class="see-link" href="{% url 'fichas:ficha' ficha.id %}">Ver</a></li>
        {% endfor %}
      {% else %}
        <li>No hay fichas</li>
      {% endif %}
    </ul>
    <button class="add-ficha-button" onclick="window.location.href='{% url 'fichas:new' %}'"><span class="add-sign">&loplus;</span>Crear una nueva ficha</button>
{% endblock %}
