body {
  font-family: Arial, sans;
  background-color: #ddd;
}

ul li {
  margin-bottom: 0;
  border: 1px solid #000;
  list-style: none;
  position: relative;
  padding: 1em 0 1em 1em;
}

#cabecera {
  width: 1024px;
  margin: 0 auto;
  padding: 1em;
}

#contenedor {
  width: 1024px;
  margin: 0 auto;
  padding: 3em;
  border: 1px solid #ecb;
  background-color: #ffeecc;
  border-radius: .2em;
  box-shadow: 4px 4px 2px #999;
}

#pie {
  width: 1024px;
  margin: 0 auto;
  padding: 1em;
}

form {
  width: 60%;
  margin: 0 auto;
}

p.center {
  width: 60%;
  margin: 0 auto;
}

.valid {
  color: #0c0;
}

.notvalid {
  color: #f00;
}

h1.center {
  width: 60%;
  margin: 0 auto;
}

div.stats {
    float: left;
    width: 45%;
    margin-right: 2em;
}

div.looks {
  float: right;
  margin-left: 2em;
  width: 45%;
}

div.bio {
  clear: both;
  width: 60%;
  margin: 0 auto;
}

.add-sign {
  color: #0c0;
  font-weight: bold;
  font-size: large; 
  margin-right: 1em;
}

.add-ficha-button {
  padding: .2em;
}

a.see-link {
  margin-left: 2em;
  border: 1px solid #000;
  background-color: #ccc;
  border-radius: .2em;
  padding: .5em;
}
