body {
  font-family: Arial, sans;
  background-color: #ddd;
}

#cabecera {
  width: 1024px;
  margin: 0 auto;
  padding: 1em;
}

#contenedor {
  width: 1024px;
  margin: 0 auto;
  padding: 3em;
  border: 0px solid #000;
  background-color: #ffeecc;
  border-radius: 2em;
}

#pie {
  width: 1024px;
  margin: 0 auto;
  padding: 1em;
}

form {
  width: 60%;
  margin: 0 auto;
}

p.center {
  width: 60%;
  margin: 0 auto;
}

.valid {
  color: #0c0;
}

.notvalid {
  color: #f00;
}

h1.center {
  width: 60%;
  margin: 0 auto;
}

div.stats {
    float: left;
    width: 45%;
    margin-right: 2em;
}

div.looks {
  float: right;
  margin-left: 2em;
  width: 45%;
}

div.bio {
  clear: both;
  width: 60%;
  margin: 0 auto;
}
